[submodule "Modulo 2/Taller 3"]
	path = Modulo 2/Taller 3
	url = https://github.com/StoryChara/TALLER3-m.jarah
[submodule "Modulo 2/Proyecto 2"]
	path = Modulo 2/Proyecto 2
	url = https://github.com/StoryChara/PROYECTO2-mjarah.git
[submodule "Modulo 3/Taller 1"]
	path = Modulo 3/Taller 1
	url = https://github.com/StoryChara/TALLER1-mjarah.git
[submodule "Modulo 3/Taller 2"]
	path = Modulo 3/Taller 2
	url = https://github.com/StoryChara/TALLER2-mjarah.git
