<!DOCTYPE html>
<html lang="es">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Home</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
     <h1>¡Bienvenido a la heladería!</h1>

     <div style="text-align:center; margin-top: 30px;">
         <a href="/productos"><button>Ver Productos</button></a>
         <a href="/vender"><button>Vender Producto</button></a>
         <a href="/tests"><button>Ejecutar Pruebas</button></a>
     </div>
</body>
</html>