<!DOCTYPE html>
<html>
<head>
     <meta charset='utf-8'>
     <meta name="viewport" content="device-width, initial-scale=1.0">
     <title>Taller 2 - Modulo 2</title>
</head>
<body>
     <h1>Hola!</h1>
     <p>Hay {{ lassie }} perros llamados Lassie.</p>
     <p>Mario tiene un ID {{mario.ID_Cuidador}} y estos son sus perros asignados:</p>
     {% for perro in perros %}
         <p> Nombre: {{ perro.Nombre }} | Raza: {{ perro.Raza }} | Edad: {{ perro.Edad }} | Peso: {{ perro.Peso }} </p>
     {% endfor %}
</body>
</html>
